/* main styles */
body {
  min-width: 1004px;
}
.centered {
  width: 984px;
}
.header .top_row {
  min-height: 15px;
}
.header .centered {
  width: 984px;
}
.header .logo {
  width: 130px;
  height: 130px;
  margin: -32px 10px -32px 0px;
  background: url(../img/logo_background_s.png) 0px 0px no-repeat;
}
.header .logo a {
  width: 77px;
  height: 77px;
  margin: 26px 0px 0px 20%;
  background: url(../img/logo.png) 0px 0px no-repeat;
  background-size: cover;
}
.header .navigation {
  width: 815px;
}
.header .navigation li > a {
  padding: 26px 7px 0px 7px;
  font-size: 1.4em;
  line-height: 1.2em;
}
.header .navigation li:nth-child(7) .subnav {
  left: -500px;
}
.header .quick_search {
  width: 210px;
}
.header .search_field {
  width: 168px;
}
.header .customize_menu ul {
  width: 984px;
}
.header .customize_menu li {
  font-size: 13px;
  line-height: 1.2em;
}
.header .customize_menu .customize_label {
  margin-top: 14px;
  padding-left: 25px;
}
.header .customize_menu .ez-checkbox {
  top: -3px;
}
.content_block {
  width: 984px;
}
.content_block .main_column {
  width: 784px;
}
.content_block .main_column .wide_tiles {
  width: 773px;
}
.content_block .main_column .short_tiles {
  width: 381px;
}
.content_block .content {
  width: 741px;
}
footer .copyright {
  width: 350px;
}
footer .footer_nav {
  width: 450px;
}
/* Home page styles */
.tiles_block .tiles .caption_block {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.tiles_block .tiles .caption_block:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.tiles_block .tabs_block ul {
  table-layout: auto;
}
.tiles_block .tabs_block a,
.tiles_block .tabs_block span {
  padding: 6px 5px 0px 6px;
}
.tiles_block .main_news {
  width: 381px;
  height: 302px;
}
.tiles_block .main_news img {
  height: 224px;
}
.tiles_block .scroll_area {
  max-height: 385px;
}
/* Blog/Forums tile styles */
.blog_forums_tile .carousel_block {
  width: 675px;
}
.blog_forums_tile .carousel_block .jcarousel-skin-tango {
  width: 675px;
}
.blog_forums_tile .carousel_block .jcarousel-skin-tango .jcarousel-container-horizontal,
.blog_forums_tile .carousel_block .jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 675px;
}
.blog_forums_tile .carousel_block .jcarousel-skin-tango .jcarousel-item {
  width: 337.5px;
}
/* Betting lines tile styles */
.betting_lines_tile .captions_row .time {
  width: 67px;
  padding-left: 16px;
}
.betting_lines_tile .captions_row .rot {
  width: 50px;
}
.betting_lines_tile .captions_row .competitor {
  width: 133px;
  padding-right: 10px;
}
.betting_lines_tile .captions_row .point_spread {
  width: 143px;
}
.betting_lines_tile .captions_row .moneyline {
  width: 142px;
}
.betting_lines_tile .captions_row .total {
  width: 145px;
}
/* Last news tile styles */
.latest_news_tile .articles {
  font-size: 15px;
  line-height: 1.15em;
}
.latest_news_tile .article {
  display: table;
  margin: 10px 30px 0px 15px;
}
.latest_news_tile .article .date,
.latest_news_tile .article .body {
  display: table-cell;
  padding-bottom: 0px;
  text-align: left;
  vertical-align: top;
}
.latest_news_tile .article .date {
  width: 52px;
  color: #999999;
}
.latest_news_tile .article .body {
  text-decoration: none;
}
.latest_news_tile .article .title {
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}
.latest_news_tile .article .title:hover {
  text-decoration: underline;
  color: #64b352;
}
.latest_news_tile .article .description {
  display: block;
  color: #555555;
}
.latest_news_tile .article:last-child {
  margin-bottom: 5px;
}
/* Videos tile styles */
.videos_tile .player_block {
  float: left;
  width: 320px;
  height: 200px;
  margin: 16px 0px 16px 17px;
}
.videos_tile .playlist_block {
  width: 414px;
}
.videos_tile .search_video .search_field {
  width: 289px;
}
.videos_tile .search_video .search_button {
  width: 88px;
}
/* My scoreboard tile styles */
.my_scoreboard_tile .scoreboards {
  max-height: 687px;
}
.my_scoreboard_tile .fixtures_block {
  padding: 20px 10px 0px 10px;
}
/* Partners tile carousel styles */
.partners_block {
  width: 675px;
}
.partners_block .jcarousel-skin-tango {
  width: 675px;
}
.partners_block .jcarousel-skin-tango .jcarousel-container-horizontal,
.partners_block .jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 675px;
}
.partners_block .jcarousel-skin-tango .jcarousel-item {
  width: 337.5px;
}
.partners_block .jcarousel-skin-tango .jcarousel-item {
  width: 675px;
  height: 126px;
}
.partners_block .jcarousel-skin-tango .jcarousel-item img {
  width: 85%;
}
/* edit tiles stiles  */
.short_tiles .form_block .add_block .selects {
  width: 345px;
}
.short_tiles .form_block .list_block .list_captions .label {
  width: 260px;
}
.short_tiles .form_block .list_block .list_captions .actions {
  width: 84px;
}
.short_tiles .form_block .list_block .list .label {
  width: 260px;
}
.short_tiles .form_block .buttons {
  margin: 0px auto;
}
.short_tiles .form_block .buttons:disabled {
  cursor: default;
  opacity: 0.4 !important;
}
/* edit headlines tile styles */
.headlines_tile .add_block {
  height: 165px;
}
.headlines_tile .list_block {
  height: 533px;
}
.headlines_tile .scroll_area {
  height: 440px;
}
/* Forum pages styles */
/* forums styles */
.forums .top_row .add_button {
  width: 214px;
}
.forums .forums_list {
  width: 214px;
}
.forums .forums_list a {
  wdth: 214px;
}
.forums .forums_list a:hover,
.forums .forums_list .current {
  color: #ffffff;
  background-color: #63B352;
}
.forums .forums_list .current {
  background-position: 201px 7px;
}
.forums .forum {
  width: 500px;
}
.forums .forum .topics .create_button {
  width: 500px;
}
/* topic styles */
.forum_topic .body_block {
  width: 591px;
}
.forum_topic .author_block {
  width: 118px;
}
.forum_topic .author_block .author_avatar,
.forum_topic .author_block .author_avatar img {
  display: block;
  width: 118px;
  height: 118px;
}
.forum_topic .comments_block {
  padding: 16px 16px 0px 16px;
}
.forum_topic .comments_block .caption {
  margin-bottom: 12px;
  padding-bottom: 6px;
  font-weight: bold;
  text-transform: uppercase;
  color: #64b352;
  border-bottom: 1px solid #BBBBBB;
}
.forum_topic .comments_block .caption .counter {
  font-weight: normal;
}
.forum_topic .comments_block .comment_form .textareas {
  width: 717px;
  height: 146px;
  margin-bottom: 25px;
  padding: 15px 10px;
  border: 2px solid #EEEEEE;
}
/* add topic styles */
.topic_form .inputs {
  width: 717px;
}
.topic_form .textareas {
  width: 717px;
}
/* Profile pages styles */
/* profile styles */
.profile .profile_info {
  min-width: 376px;
  max-width: 376px;
}
.profile .profile_actions {
  width: 48px;
  text-align: right;
}
.profile .profile_actions a {
  overflow: hidden;
  width: 0px;
  border-right: 2px solid #64B352;
}
.profile .profile_actions a:hover {
  border-right: 2px solid #86C479;
}
.profile .profile_narrow {
  margin-right: 0px;
}
.profile .profile_average {
  width: 476px;
}
/* team profile */
.team_profile .team_block .team_info {
  min-width: 376px;
  max-width: 376px;
}
.team_profile .team_block .team_actions {
  width: 48px;
  text-align: right;
}
.team_profile .team_block .team_actions a {
  overflow: hidden;
  width: 0px;
  border-right: 2px solid #64B352;
}
.team_profile .team_block .team_actions a:hover {
  border-right: 2px solid #86C479;
}
.team_profile .team_block .social_buttons {
  clear: both;
  float: none;
  padding-top: 20px;
}
.team_profile .list_column {
  width: 492px !important;
}
.team_profile .list_column .articles_list {
  width: 492px !important;
}
.team_profile .list_column .article {
  width: 228px;
  height: auto;
}
.team_profile .list_column .article .thumb {
  width: 75px !important;
  height: 75px !important;
  margin-right: 10px !important;
}
.team_profile .list_column .article .thumb img {
  width: 75px !important;
  height: 75px !important;
}
.team_profile .list_column .article .body {
  width: 143px;
  height: auto;
  padding-bottom: 0px;
}
.team_profile .list_column .article .datetime {
  display: block;
  position: relative !important;
  margin-top: 9px;
  padding-top: 1px;
  padding-left: 17px !important;
  font-size: 11px !important;
  line-height: 1.2em !important;
  background-position: 0px 1px !important;
  background-size: 8.5% !important;
}
.team_profile .list_column .pagination {
  width: 492px !important;
}
.team_profile .right_column {
  width: 238px !important;
}
.team_profile .right_column .first_team a img,
.team_profile .right_column .second_team a img {
  display: none;
}
.team_profile .right_column .scoreboard_table .group_table .goal_difference,
.team_profile .right_column .scoreboard_table .group_table .played,
.team_profile .right_column .scoreboard_table .group_table .points {
  width: 22px !important;
}
.team_profile .right_column .aside_image {
  width: 239px !important;
}
.team_profile .right_column .aside_image img {
  width: 239px !important;
}
/* Pools page styles */
/* polls styles */
.polls .poll {
  width: 361px;
}
/* Blog pages styles */
/* blog styles */
.my_blog .articles {
  width: 492px;
}
.my_blog .archive_column {
  width: 238px;
}
.my_blog .archive_column .add_button {
  width: 238px;
}
/* view blog article styles */
.my_blog_article .title {
  width: 520px !important;
}
.comment_form .textareas {
  width: 717px;
}
/* add blog article styles */
.blog_article_form .inputs {
  width: 717px;
}
.blog_article_form .textareas {
  width: 717px;
}
/* Clubs pages styles */
/* clubs tyles */
.my_clubs .add_club {
  width: 357px;
  height: 60px;
  padding-top: 40px;
}
.my_clubs .club {
  width: 351px;
  height: 110px;
}
.my_clubs .club .thumb {
  width: 100px;
  height: 100px;
}
.my_clubs .club .thumb .edit,
.my_clubs .club .thumb .delete {
  width: 100px;
}
.my_clubs .club .thumb .edit {
  top: 0px;
  left: 0px;
  height: 35px;
  padding-top: 15px;
}
.my_clubs .club .thumb .delete {
  top: 50px;
  height: 35px;
  padding-top: 15px;
}
.my_clubs .club .body {
  float: left;
  width: 234px;
  height: 81px;
  padding-bottom: 22px;
}
.my_clubs .club .body .title {
  overflow: hidden;
  max-height: 21px;
  margin-bottom: 8px;
}
.my_clubs .club .body .description {
  overflow: hidden;
  height: 36px;
  padding-bottom: 0px;
}
.my_clubs .club .body .members_count {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 1.2em;
  color: #999999;
  background: url(../img/members_icon.png) 0px 0px no-repeat;
}
/* News pages styles */
/* news styles */
.news .list_column {
  width: 492px !important;
}
.news .list_column .top_news .title {
  width: 305px !important;
  font-size: 22px;
  line-height: 1.4em;
}
.news .list_column .news_list {
  width: 492px !important;
}
.news .list_column .article {
  width: 228px;
  height: auto;
}
.news .list_column .article .thumb {
  width: 75px !important;
  height: 75px !important;
  margin-right: 10px !important;
}
.news .list_column .article .thumb img {
  width: 75px !important;
  height: 75px !important;
}
.news .list_column .article .body {
  width: 143px;
  height: auto;
  padding-bottom: 0px;
}
.news .list_column .article .datetime {
  display: block;
  position: relative !important;
  margin-top: 9px;
  padding-top: 1px;
  padding-left: 17px !important;
  font-size: 11px !important;
  line-height: 1.2em !important;
  background-position: 0px 1px !important;
  background-size: 8.5% !important;
}
.news .right_column {
  width: 238px !important;
}
.news .right_column .scoreboard_table .group_table .goal_difference,
.news .right_column .scoreboard_table .group_table .played,
.news .right_column .scoreboard_table .group_table .points {
  width: 22px !important;
}
.news .right_column .aside_image {
  width: 239px !important;
}
.news .right_column .aside_image img {
  width: 239px !important;
}
/* Articles pages styles */
/* articles styles */
.my_articles .add_article {
  width: 361px;
}
.my_articles .add_article:hover:before {
  background-position: 0px -22px;
}
.my_articles .article {
  width: 361px;
}
.my_articles .article .body {
  width: 244px;
}
/* view article styles */
.my_article .category {
  max-width: 365px;
}
.my_article .datetime {
  width: 365px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.my_article .author {
  position: relative;
  max-width: 365px;
}
.my_article .more_articles .article {
  width: 361px;
}
.my_article .more_articles .article .body {
  width: 244px;
}
.my_article .more_articles .article:nth-child(3) {
  display: none;
}
/* add article styles */
.article_form .article_cover {
  width: 239px;
}
.article_form .upload_cover {
  width: 239px;
}
.article_form .upload_field {
  width: 239px;
}
.article_form .inputs {
  width: 463px;
}
.article_form .textareas {
  width: 717px;
  height: 399px;
  padding: 10px;
  border: 2px solid #EEEEEE;
}
/* articles author view styles */
.articles_author .author_info {
  width: 600px;
}
.articles_block .article {
  width: 361px;
}
.articles_block .article .body {
  width: 244px;
}
/* Photo albums pages styles */
/* photo albums styles */
.my_photo_albums .album_add_link {
  width: 358px;
  height: 127px;
  padding-top: 107px;
}
.my_photo_albums .album_block {
  width: 358px;
  height: 234px;
}
.my_photo_albums .album_block .thumb {
  width: 358px;
  height: 234px;
}
.my_photo_albums .album_block .bottom_gradient {
  width: 334px;
}
.my_photo_albums .album_block .top_gradient {
  width: 328px;
}
/* photo album styles */
.my_photo_album .add_photo_block {
  width: 358px;
}
.my_photo_album .upload_photo {
  width: 358px;
  height: 234px;
}
.my_photo_album .upload_field {
  width: 358px;
  height: 234px;
}
.my_photo_album .photo_block {
  width: 358px;
  height: 234px;
}
.my_photo_album .photo_block .thumb {
  width: 358px;
  height: 234px;
}
.my_photo_album .photo_block .bottom_gradient {
  width: 334px;
}
.my_photo_album .photo_block .top_gradient {
  width: 328px;
}
/* add photo styles */
.add_photo_form .description {
  width: 392px;
}
.add_photo_form .description .textareas {
  width: 368px;
  height: 126px;
  border: 2px solid #EEEEEE;
}
/* Video albums styles */
/* video albums styles */
.my_video_albums .album_add_link {
  width: 358px;
  height: 127px;
  padding-top: 107px;
}
.my_video_albums .album_block {
  width: 358px;
  height: 234px;
}
.my_video_albums .album_block .thumb {
  width: 358px;
  height: 234px;
}
.my_video_albums .album_block .bottom_gradient {
  width: 334px;
}
.my_video_albums .album_block .top_gradient {
  width: 328px;
}
/* video album styles */
.my_video_album {
  margin-bottom: 0px;
}
.my_video_album .album_add_link {
  width: 358px;
  height: 127px;
  padding-top: 107px;
}
.my_video_album .album_block {
  width: 358px;
  height: 234px;
}
.my_video_album .album_block .thumb {
  width: 358px;
  height: 234px;
}
.my_video_album .album_block .bottom_gradient {
  width: 334px;
}
.my_video_album .album_block .top_gradient {
  width: 328px;
}
.my_video_album .video_block {
  width: 358px;
  height: 234px;
}
.my_video_album .video_block .thumb {
  width: 358px;
  height: 234px;
}
.my_video_album .video_block .bottom_gradient {
  width: 334px;
}
.my_video_album .video_block .top_gradient {
  width: 328px;
}
.my_video_album .video_block .overlay {
  width: 358px;
  height: 234px;
}
/* videos styles */
.videos_album {
  margin-bottom: 0px;
}
.videos_album .album_add_link {
  width: 358px;
  height: 127px;
  padding-top: 107px;
}
.videos_album .album_block {
  width: 358px;
  height: 234px;
}
.videos_album .album_block .thumb {
  width: 358px;
  height: 234px;
}
.videos_album .album_block .bottom_gradient {
  width: 334px;
}
.videos_album .album_block .top_gradient {
  width: 328px;
}
.videos_album .video_block {
  width: 358px;
  height: 234px;
}
.videos_album .video_block .thumb {
  width: 358px;
  height: 234px;
}
.videos_album .video_block .bottom_gradient {
  width: 334px;
}
.videos_album .video_block .top_gradient {
  width: 328px;
}
.videos_album .video_block .overlay {
  width: 358px;
  height: 234px;
}
/* Games page styles */
/* game styles */
.page_title {
  padding-right: 15px !important;
}
.page_title .notice {
  display: none;
}
.game_page .game_info .team_name {
  width: 210px !important;
}
.game_page .main_column {
  width: 476px !important;
}
.game_page .main_column .team_table .pos_col {
  width: 29px !important;
}
.game_page .main_column .team_table .no_col {
  width: 23px !important;
}
.game_page .main_column .team_table .sh_col,
.game_page .main_column .team_table .sg_col,
.game_page .main_column .team_table .g_col,
.game_page .main_column .team_table .a_col,
.game_page .main_column .team_table .of_col,
.game_page .main_column .team_table .fd_col,
.game_page .main_column .team_table .fc_col,
.game_page .main_column .team_table .sv_col,
.game_page .main_column .team_table .yc_col,
.game_page .main_column .team_table .rc_col {
  width: 25px !important;
}
.game_page .game_narrow {
  width: 238px !important;
}
.game_page .game_narrow .match_block .match_table .label {
  white-space: normal !important;
}
